.custBtn {
  background: transparent;
  border: 0px;
  cursor: pointer;
  height: 40px;
  text-transform: capitalize;
}

.resetBtn {
  background: #12ac12;
  color: #ffffff;
  border: 0px;
  border-radius: 20px;
  box-shadow: 0 1px 5px rgb(0, 0, 0);
  cursor: pointer;
  text-transform: capitalize;
  padding: 10px;
}

body {
  overflow: hidden;
  font-family: "Courier New", monospace;
}

#canvo {
  position: fixed;
  top: 80px;
  left: 300px;
}

.disk {
  border-radius: 10px;
}

.movclass {
  position: relative;
  left: 700px;
  color: red;
}

/*-------------------------- new css added here ---------------------------------*/

/* The Modal (background) for start screen */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  -moz-animation-name: fadeIn;
  -moz-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/* The Modal (background) for end /  greeting screen */
.modal1 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  -moz-animation-name: fadeIn;
  -moz-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  text-align: center;
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  top: 100px;
  width: 100%;
  color: rgba(255, 255, 255, 1);
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
}

/* The Close Button */
.modal-header {
  padding: 2px 16px;
  text-align: center;
  color: white;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* animation for modal box appearance */

@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.resetdiv {
  position: relative;
  left: 400px;
}

/* glowing css */
.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.topMenu {
  display: flex;
  align-items: center;
}

#gameAlert {
  top: 55px;
  position: relative;
  left: 500px;
  color: orange;
}
